.email-creator-container {
    margin: 15px;
}

.email-creator-input {
    width: 100%;
    margin-bottom: 15px !important;
}

.email-creator-text-area {
    height: 100% !important;
}

.email-creator-button {
    position: absolute !important;
    bottom: 15px !important;
    width: 20% !important;
}