.friend-viewer-container {
    display: flex;
    align-items: space-between;
    width: 100%;
    height: 50px;
    flex-direction: column;
}

.friend-viewer-avatar {
    margin: 0 !important;
    background-color: #c3b4dd !important;
}

.friend-viewer-header .MuiCardHeader-avatar {
    margin: 0 !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.friend-viewer-header {
    padding: 0 !important;
    width: 100%;
}

.friend-viewer-content {
    margin: 45px 15px;
}

.row-divider {
    border-bottom: black !important;
    width: 100%;
}