.email-viewer-container {
    display: flex;
    align-items: space-between;
    min-width: calc(50% - 30px);
    max-width: calc(50% - 30px);
    height: 50px;
    flex-direction: column;
}

.email-viewer-avatar {
    background-color: #c3b4dd !important;
}

.email-viewer-header {
    margin-top: 20px;
}

.email-viewer-content {
    margin: 45px 15px;
}

.row-divider {
    border-bottom: black !important;
    width: 100%;
}