.dashboard-lista-emails {
    min-width: 50%;
    overflow: scroll;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.dashboard-container {
    display: flex;
    overflow: hidden;
}

.dashboard-emails-container {
    display: flex;
    height: calc(100vh - 64px);
    width: calc(100% - 350px);
}